# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Exclude build dirs
build

# Exclude archives from the extern
extern/zlib/zlib-*
extern/jsoncpp/jsoncpp-*
extern/boost/boost-*
extern/nss/nss-*
extern/openssl/openssl-*
extern/curl/curl-*
*.~vsd

# Some tests for netstat
netstat*
