# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Exclude build dirs
build

# Exclude archives from the extern
extern/*
!extern/zlib/CMakeLists.txt
!extern/jsoncpp/CMakeLists.txt
!extern/boost/CMakeLists.txt
!extern/crypto50/CMakeLists.txt
!extern/nss/CMakeLists.txt
!extern/openssl/CMakeLists.txt
!extern/curl/CMakeLists.txt
