# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Exclude archives from the extern
extern/zlib/archive*
extern/jsoncpp/archive*
extern/boost/archive*
extern/crypto50/archive*

# Exclude build dirs
build